body,div,p,a,button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-color: rgb(255, 255, 255);
}
* {
    box-sizing: border-box;
}
.container1 {
    padding: 16px;
    background-color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #6b766c;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}
.signin {
    background-color: #ffffff;
    text-align: center;
}
.soob {
    border: 0px;
    background-color: #f1f1f1;
    width: 100%;
    height: 150px;
}
.soob:focus {
    background-color: #ddd;
    outline: none;
}

